/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "skeleton.dtsi"

/ {
	compatible = "rockchip,rk3288";

	interrupt-parent = <&gic>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x500>;
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x501>;
		};
		cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x502>;
		};
		cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a15";
			reg = <0x503>;
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;

		gic: interrupt-controller@ffc01000 {
			compatible = "arm,cortex-a15-gic";
			interrupt-controller;
			#interrupt-cells = <3>;
			#address-cells = <0>;
			reg = <0xffc01000 0x1000>,
			      <0xffc02000 0x1000>;
		};

		sram: sram@ff710000 {
			compatible = "mmio-sram";
			reg = <0xff710000 0x8000>;
		};

		pmu: pmu@ff730000 {
			compatible = "rockchip,rk3066-pmu", "syscon";
			reg = <0xff730000 0x100>;
		};

		sgrf: syscon@ff740000 {
			compatible = "syscon";
			reg = <0xff740000 0x1000>;
		};

		grf: syscon@ff770000 {
			compatible = "syscon";
			reg = <0xff770000 0x1000>;
		};

		timer {
			compatible = "arm,armv7-timer";
			interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>,
				     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_HIGH)>;
			clock-frequency = <24000000>;
		};

		pinctrl@ff770000 {
			compatible = "rockchip,rk3288-pinctrl";
			rockchip,grf = <&grf>;
			rockchip,pmu = <&pmu>;

			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			gpio0: gpio0@ff750000 {
				compatible = "rockchip,gpio-bank";
				reg =	<0xff750000 0x100>;
				interrupts = <GIC_SPI 81 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates17 4>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio1: gpio1@ff780000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff780000 0x100>;
				interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 1>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio2: gpio2@ff790000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff790000 0x100>;
				interrupts = <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 2>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio3: gpio3@ff7a0000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff7a0000 0x100>;
				interrupts = <GIC_SPI 84 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 3>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio4: gpio4@ff7b0000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff7b0000 0x100>;
				interrupts = <GIC_SPI 85 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 4>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio5: gpio5@ff7c0000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff7c0000 0x100>;
				interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 5>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio6: gpio6@ff7d0000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff7d0000 0x100>;
				interrupts = <GIC_SPI 87 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 6>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio7: gpio7@ff7e0000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff7e0000 0x100>;
				interrupts = <GIC_SPI 88 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 7>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			gpio8: gpio8@ff7f0000 {
				compatible = "rockchip,gpio-bank";
				reg = <0xff7f0000 0x100>;
				interrupts = <GIC_SPI 89 IRQ_TYPE_LEVEL_HIGH>;
//				clocks = <&clk_gates14 8>;

				gpio-controller;
				#gpio-cells = <2>;

				interrupt-controller;
				#interrupt-cells = <2>;
			};

			/* FIXME what is gpio15 */

			pcfg_pull_up: pcfg_pull_up {
				bias-pull-up;
			};

			pcfg_pull_down: pcfg_pull_down {
				bias-pull-down;
			};

			pcfg_pull_none: pcfg_pull_none {
				bias-disable;
			};
		};

		watchdog@ff800000 {
			compatible = "snps,dw-wdt";
			reg = <0xff800000 0x100>;
			interrupts = <GIC_SPI 111 IRQ_TYPE_LEVEL_HIGH>;
//			clocks = <&per_base_clk>;
			status = "disable";
		};

		/* uart_bt */
		uart0: serial@ff180000 {
			compatible = "snps,dw-apb-uart";
			reg = <0xff180000 0x100>;
			interrupts = <GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <24000000>;
//			clocks = <&cru SCLK_UART0>;
			status = "disabled";
		};

		/* uart_bb */
		uart1: serial@ff190000 {
			compatible = "snps,dw-apb-uart";
			reg = <0xff190000 0x100>;
			interrupts = <GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <24000000>;
//			clocks = <&cru SCLK_UART0>;
			status = "disabled";
		};

		/* uart_dbg */
		uart2: serial@ff690000 {
			compatible = "snps,dw-apb-uart";
			reg = <0xff690000 0x100>;
			interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <24000000>;
//			clocks = <&cru SCLK_UART0>;
			status = "disabled";
		};

		/* uart_gps */
		uart3: serial@ff1b0000 {
			compatible = "snps,dw-apb-uart";
			reg = <0xff1b0000 0x100>;
			interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <24000000>;
//			clocks = <&cru SCLK_UART0>;
			status = "disabled";
		};

		/* uart_exp */
		uart4: serial@ff1c0000 {
			compatible = "snps,dw-apb-uart";
			reg = <0xff1c0000 0x100>;
			interrupts = <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <2>;
			reg-io-width = <4>;
			clock-frequency = <24000000>;
//			clocks = <&cru SCLK_UART0>;
			status = "disabled";
		};
	};
};
