/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;
#include "rk3288.dtsi"

/ {
	compatible = "rockchip,rk3288-tmp", "rockchip,rk3288";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		serial4 = &uart4;
	};

	memory {
		reg = <0x0 0x80000000>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vcc_sd0: fixed-regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;

			regulator-name = "sdmmc-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio7 11 GPIO_ACTIVE_LOW>;
			startup-delay-us = <100000>;
//			vin-supply = <&vcc_io>;
		};
	};

	soc {
		gpio-keys {
			compatible = "gpio-keys";
			#address-cells = <1>;
			#size-cells = <0>;
			autorepeat;

			button@0 {
				gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
				linux,code = <116>;
				label = "GPIO Key Power";
				linux,input-type = <1>;
				gpio-key,wakeup = <1>;
				debounce-interval = <100>;
			};
		};

		i2c0: i2c@ff650000 {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_xfer>;
			status = "okay";

			rk808: rk808@1b {
				compatible = "rockchip,rk808";
				reg = <0x1b>;

				interrupt-parent = <&gpio0>;
				interrupts = <4 IRQ_TYPE_EDGE_FALLING>; /* gpio0_a */

				gpios = <&gpio0 0 0>; /* pmic_sleep */
			};
		};

		dwmmc@ff0c0000 {
			num-slots = <1>;
			status = "okay";

			pinctrl-names = "default";
			pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_cd &sd0_bus4>;
			vmmc-supply = <&vcc_sd0>;

			slot@0 {
				reg = <0>;
				bus-width = <4>;
				disable-wp;
			};
		};

		dwmmc@ff0f0000 {
			num-slots = <1>;
			status = "okay";

			broken-cd;
			non-removable;
			supports-highspeed;

			pinctrl-names = "default";
			pinctrl-0 = <&emmc0_clk &emmc0_cmd &emmc0_pwr &emmc0_bus8>;

			slot@0 {
				reg = <0>;
				bus-width = <8>;
				disable-wp;
			};
		};

		watchdog@ff800000 {
			status = "okay";
		};

		/* uart_bt */
		serial@ff180000 {
			status = "okay";
		};

		/* uart_bb */
		serial@ff190000 {
			status = "okay";
		};

		/* uart_dbg */
		uart2: serial@ff690000 {
			status = "okay";
		};

		/* uart_gps */
		uart3: serial@ff1b0000 {
			status = "okay";
		};

		/* uart_exp */
		uart4: serial@ff1c0000 {
			status = "okay";
		};
	};
};
